body{ /*estiliza o body do html*/
    color: rgb(81, 48, 134);
    background-color: rgb(204, 203, 203);
}

p{ /*estiliza o parágrafo do html*/
    color: #513086;
    background-color: rgb(64, 194, 118);
}