body{
    background-image: url("https://images4.alphacoders.com/133/1331866.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white; /*cor da letra*/
}

p{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
}

#seletorid{
    border-style: dotted;
    border-color: rgb(255, 255, 255);
}